
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: #b18347;
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 40vw;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

h2 {
    margin-bottom: 10px;
    color: #faf5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    
}

.input-container {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input:hover{
    background-color: #a59c9c;
    color: white;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
li {
    background-image: linear-gradient(to right, rgb(118, 128, 36), rgb(209, 141, 141));
  border: 2px solid rgb(9, 195, 241);
    padding: 3px 10px;
    margin: 5px 0;
    width: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    color: white;
    word-break: break-word;

}

li button {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

li button:hover {
    background: darkred;
}
